*{
    box-sizing: border-box;
}

body {
    background: #e5e5e5;
    /* background-color: #8ec667 
    #e0e468
    #8ec667
    #8ec667
    #8ec667 */
}
main {
    max-width: 800px;
    width: 90px;
    margin:auto;
    padding:40px;
}
