*{
    box-sizing: border-box;
}

body {
    background: #e5e5e5;
     background-image: url(../images/backgrounrecipe.png);
    
    
}
main {
    max-width: 800px;
    width: 90px;
    margin:auto;
    padding:40px;
    
}
